body {
  text-align: center;
  background: radial-gradient(
    royalblue,
    #00ff87 25%,
    yellow,
    #8B5F4D,
    DeepSkyBlue
  );
}
p {
  font-family: harlow solid;
  font-size: 30px;
  color: navy;
  text-shadow: #f8acff 2px 3px;
}
img {
  border-radius: 50px;
  width: 250px;
  height: 200px;
}
h1 {
  font-family: cursive;
  color: yellow;
  text-shadow: lightgreen 4px 4px;
}
h2 {
  font-family: lucida calligraphy;
  color: lightgreen;
  text-shadow: cyan 3px 3px;
  font-size: 30px;
}
.menu {
  width: 100%;
  margin-top: 0px;
  top: 0.1px;
  z-index: 10px;
  font-size: 20px;
  color: floralwhite;
  font-family: algerian;
}
ul {
  list-style-type: none;
  margin: 20;
  padding: 0;
  color: yellow;
}

li {
  display: inline;
}
h3 {
  font-size: 35px;
  font-family: ravie;
  color: navy;
  text-shadow: snow 3px 4px;
  background: linear-gradient(orange 0%, darkorchid);
  text-align: center;
  border: violet 5px solid;
  border-radius: 25px;
}